<% provide(:title, "Home") %>

 
<!-- <img src="/assets/brandeis-sign.jpg" alt="Brandeis Photo">
 -->
 <br> 

 <div class="center jumbotron">
  <h1>Welcome to the Course Catalog </h1>

  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-custom center" %>
</div>

<%= image_tag("brandeis-sign.jpg", :alt => "Brandeis", :class => "center-block") %>