<p id="notice"><%= notice %></p>

<h2>Subjects</h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Bid</th>
      <th scope="col">Name</th>
      <th scope="col">Abbreviation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td scope="row"><%= subject.bid %></td>
        <td scope="row"><%= subject.name %></td>
        <td scope="row"><%= subject.abbreviation %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>